aside.menu-area{
    background-color: var(--bg-dark);
}

.menu a {
    display: block;
    text-decoration: none;
    color: #075E93;
    padding: 15px;
    font-weight: 300;
}

.menu a:hover{
    background: linear-gradient(135deg, #eeeeee 0%, #4081A9 100%);
}

@media(max-width: 768px){
    .menu{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        justify-content: space-around;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }


}